/* global */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 30px;
}
a {
  text-decoration: none;
}

/* wrappers */
.wrapper {
  display: grid;
  grid-template-columns: 15% auto;
  height: 100%;
}

/* navigation */
.react-logo {
  width: 50px;
  height: 50px;
  padding: 10px;
  display: block;
}
.nav {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  border-right: 4px solid #66d5fd;
  color: white;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #26262e;
  border-bottom: 2px solid #66d5fd;
}
.nav-title {
  display: block;
  align-self: center;
  color: #66d5fd;
}
.nav-list {
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
  background-color: #2d2e37;
}

/* Info section */
.info {
  background-color: #fff; 
  /* Add padding to the left side to align with the 'paper' background. */
  padding-left: 10%;
  padding-top: 20px;
  line-height: 1.35rem;
}
h2 {
  margin-top: 2rem;
}
h3 {
  margin-top: 1rem;
  font-weight: bold;
}

/* styles for code */
.code {
  background-color: #eeeeee;
}

/* media quaries */
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
  .info {
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
  }
}

@media (min-width: 1000px) {
  .info {
    background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  }
}